<?xml version="1.0"?>
<model>
  <name>kepler_world</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>e-Yantra</name>
    <email>helpdesk@e-yantra.org</email>
  </author>

  <description>
    Kepler colony world: terrain, scenery, ore crusher and cargo rover.
  </description>
</model>
